/* GENERAL STYLES*/

html {
    font-size: 16px;
    font-family: Inter, sans-serif;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    color: #1A1A1A;
    margin: 1rem 0;
}

body {
    background: linear-gradient(135deg, #cdcfd1 ,#E5E7EB, #F3F4F6);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    width: 30%;
    margin: 0 auto;
}

/* CONTAINER STYLES */

.inputContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.taskContainer {
    color: #1A1A1A;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1rem;
    width: 90%;
    min-height: 30rem;
    margin: 0 auto;
    box-shadow: 0.25rem 0.5rem 1.125rem rgba(0, 0, 0, 0.12);
}

/* BUTTON STYLES */

#addbtn {
    background: linear-gradient(135deg, #3B82F6, #60A5FA);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 5px #0b295a;
    cursor: pointer;
    width: 60%;
}

#addbtn:active {
    margin-top: 5px;
    box-shadow: 0 0;
}

#addbtn:hover {
    background: linear-gradient(135deg, #4286f5, #2563EB);
}

/* TASK LIST STYLES */

.task-list li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-width: 90%;
    overflow-wrap: break-word; /* HACE QUE LA PALABRA HAGA WRAP AUNQUE NO HAYA ESPACIOS */
    text-align: justify;
}

/* DELETE TASK BUTTON */
.delBtn {
    background-color: #EF4444;
    color: white;
    border: 0;
    border-radius: 0.375rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.delBtn:hover {
    background-color: #8b2323;
}

/* EACH TASK ITEM STLES */
.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #FFFFFF;
  padding: 0.75rem;
  border-radius: 0.75rem;
  margin: 0.75rem;
  border: 1px solid #E5E5E5;
}

#taskInput {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin: 1rem 0;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.5rem 1.125rem rgba(0, 0, 0, 0.12);
}

.taskCounter {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 0;
}

.taskCounter span {
    background: #3B82F6;
    color: white;
    margin-left: 0.5rem;
    padding: 0.25rem 1rem;
    border-radius: 999px; /* píldora */
    font-weight: 700;
}

@media only screen and (max-width: 480px) {
    main {
        width: 80%;
    }

    header h1 {
        font-size: 2rem;
    }

    #addbtn {
        width:65%
    }

    .taskContainer {
        min-height: 25rem;
    }
}


@media only screen and (min-width: 481px) and (max-width: 1024px) {
    header h1 {
        font-size: 2rem;
    }

    main {
        width: 60%;
    }
}