/* GENERAL STYLES*/

html {
    font-size: 16px;
    font-family: "Science Gothic";
}

header h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-top: 0;
}

body {
    background: linear-gradient(rgb(0, 173, 0), rgb(0, 87, 0), rgb(0, 53, 0));
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    width: 30%;
    margin: 0 auto;
}

/* CONTAINER STYLES */

.input-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.task-container {
    color: white;
    background: linear-gradient(rgb(0, 0, 0), rgb(82, 81, 81));
    border-radius: 1rem;
    width: 50%;
    min-height: 20rem;
    margin: 0 auto;
}

/* BUTTON STYLES */

#addbtn {
    width: 50%;
    height: 1.7rem;
    border-radius: 0.5rem;
}

/* TASK LIST STYLES */

.task-list li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-width: 90%;
    overflow-wrap: break-word; /* HACE QUE LA PALABRA HAGA WRAP AUNQUE NO HAYA ESPACIOS */
    text-align: justify;
}